
<!-- ConfiguringWebApplications start -->


<!-- Specifying a Webpage Icon for Web Clip -->
<!-- 在设置书签的时候可以显示好看的图标 -->

<!-- <link rel="apple-touch-icon" href="touch-icon-iphone.png"> -->
<!-- <link rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png"> -->



<!-- Specifying a Launch Screen Image -->
<!-- 设置开始页面图片 -->
<link rel="apple-touch-startup-image" href="/images/ConfiguringWebApplications/launch.jpeg">


<!-- // 离线应用的另一个技巧  : Hiding Safari User Interface Components -->


    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="mobile-web-app-capable" content="yes">

    <!-- 隐藏状态栏  Changing the Status Bar Appearance  in standalone mode like that of a native application /指定的iphone中safari顶端的状态条的样式  -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Adding a Launch Icon Title -->

    <meta name="apple-mobile-web-app-title" content="iosre">


<!-- <meta content="telephone=no" name="format-detection" />       //告诉设备忽略将页面中的数字识别为电话号码       -->



<!-- ConfiguringWebApplications end -->

<!-- Linking to Other Native Apps -->





<!-- http://cubiq.org/add-to-home-screen?utm_source=caibaojian.com-->

<link rel="stylesheet" type="text/css" href="/add-to-homescreen/style/addtohomescreen.css">
<script src="/add-to-homescreen/src/addtohomescreen.js"></script>
<script>

// addToHomescreen();

// var addtohome = addToHomescreen({
//    autostart: false
// });

// addtohome.show();


addToHomescreen({
   skipFirstVisit: true,
   maxDisplayCount: 1
});

</script>


<!--解决： ios系统通过safari添加到主屏幕后，打开子链接还会跳转到safari -->
<script>  
if(('standalone' in window.navigator)&&window.navigator.standalone){  
        var noddy,remotes=false;  
        document.addEventListener('click',function(event){  
                noddy=event.target;  
                while(noddy.nodeName!=='A'&&noddy.nodeName!=='HTML') noddy=noddy.parentNode;  
                if('href' in noddy&&noddy.href.indexOf('http')!==-1&&(noddy.href.indexOf(document.location.host)!==-1||remotes)){  
                        event.preventDefault();  
                        document.location.href=noddy.href;  
                }  
        },false);  
}  
</script> 