
	<!-- google搜索  content-play -->
<section class="ces">

<script>
  (function() {
    var cx = '013483152311799686538:__rsnolmpao';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>



<nav class="animated">
  <ul>
  
    <li>
      <form class="search" method="get" action="https://www.google.com/search">
        <div>
          <input type="text" id="search" name="q" placeholder="{{ .Site.Params.Strings.Search }}">
        </div>
      </form>
    </li>
</nav>



</section>

