<section class="post-gitcomments">
    <!-- http://www.uyan.cc/getcode-->
    {% if site.comment.gitment %}

    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
  id: 'location.href', // 可选。默认为 location.href
  owner: '{{ site.user }}',
  repo: 'githubpages-comments',
  oauth: {
    client_id: '{{ site.gitcomments.client_id }}',
    client_secret: '{{ site.gitcomments.client_secret }}',
},
})
        gitment.render('container')
    </script>

    {% endif %}

</section>