---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <img src="/images/calendar.png" width="20px"/> 
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>  
         
      <span id="busuanzi_container_page_pv"> | 阅读：<span id="busuanzi_value_page_pv"></span>次</span>
     {% include simplesharingbuttons.html %}
    </p>


    </div>

    
  </header>

  <section class="post">
    {{ content }}
    <!-- 转载声明的封装-->
    <p>
      转载请注明：<a target="_blank" href='{{site.url}}'>张坤楠的博客</a> > <a target="_blank" href='{{page.url}}'>{{page.title}}</a> 
    </p>

    <p>

      在操作过程或者文章有问题的话欢迎在  <a target="_blank" href='{{page.url}}'>原文</a> 里提问或指正。
    </p>

  </section>
</article>

{% include new-old.html %}
{% include comments.html %}
{% include read-more.html %}

